<h1 class="visible-xs section-header" id="posts-list">Research</h1>
<h1 class="visible-xs text-center spacer">___</h1>

<section class="blog">

  {% for news in site.posts %}

    <!--article-->
    <div class="media">
        <a class="pull-left" href="{{ news.url }}">

            <!--article image-->
            <img class="media-object" src="{{ news.thumbnail_path }}" alt="miniature-article">

        </a>
        <div class="media-body">

            <!--article title-->
            <h4 class="media-heading">{{ news.title }}</h4>

            <!--article category-->
            <p class="article-date">{{ news.date | date_to_long_string }}</p>

            <!--article short description-->
            <p class="article-description">{{ news.summary }}</p>


        </div>
    </div>

  {% endfor %}

</section>
