{% if include.news.image_path %}
  <!--article image-->
  <img src="{{ include.news.image_path }}" alt="" class="img-responsive">
{% endif %}

<!--article title-->
<h1>{{ include.news.title }}</h1>
<h1 class="spacer">___</h1>

<!--joined_on date-->
<p class="article-date">{{ include.news.date | date:"%B %-d, %Y" }}</p>

<!--article content-->
{{ include.news.content | markdownify }}

<!--navigation-->
<ul class="pager">
  {% if include.news.previous.url %}
    <li class="previous"><a href="{{ include.news.previous.url }}">&lt; Prev</a></li>
  {% else %}
    <li class="previous disabled"><a href="#">&lt; Prev</a></li>
  {% endif %}
  {% if include.news.next.url %}
    <li class="next "><a href="{{ include.news.next.url }}">Next &gt;</a></li>
  {% else %}
    <li class="next disabled"><a href="#">Next &gt;</a></li>
  {% endif %}
</ul>
<hr />

{% if include.news.external_url %}
  <!--share-->
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <h3 class="share">External Site</h3>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 text-right">
        <a href="{{ include.publication.external_url }}"><img class="social" src="/img/icon/icon-web.png" alt="External Site"></a>
    </div>
  </div>
{% endif %}
