<h1 class="visible-xs section-header" id="posts-list">People</h1>
<h1 class="visible-xs text-center spacer">___</h1>

<section class="blog">

  {% assign ordered_people = site.people | sort: 'joined_on' %}
  {% for person in  ordered_people %}

    <!--article-->
    <div class="media">
        <a class="pull-left" href="{{ person.url }}">

            <!--article image-->
            <img class="media-object" src="{{ person.thumbnail_path }}" alt="miniature-article">

        </a>
        <div class="media-body">

            <!--article title-->
            <h4 class="media-heading">{{ person.name }}</h4>

            <!--article category-->
            <p class="article-category">{{ person.title }}</p>

            <!--article date-->
            <p class="article-date">Joined {{ person.joined_on | date_to_long_string }}</p>

        </div>
    </div>

  {% endfor %}

</section>
