<!--article image-->
<img src="{{ include.person.image_path }}" alt="" class="img-responsive">

<!--article title-->
<h1>{{ include.person.name }}</h1>
<h1 class="spacer">___</h1>

{% if include.person.joined_on %}
  <!--joined_on date-->
  <p class="article-date">Joined {{ include.person.joined_on | date_to_long_string }}</p>
{% endif %}

<!--article tags-->
<p class="article-tags">{{ include.person.title }}</p>

<!--article content-->
{{ include.person.content }}

<!--share-->
<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <h3 class="share">External Sites</h3>
  </div>
  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 text-right">
    {% if include.person.research_gate_url %}
      <a href="{{ include.person.research_gate_url }}"><img class="social" src="/img/icon/icon-research-gate.png" alt="Research Gate"></a>
    {% endif %}
    {% if include.person.linkedin_url %}
      <a href="{{ include.person.linkedin_url }}"><img class="social" src="/img/icon/icon-linkedin.png" alt="LinkedIn"></a>
    {% endif %}
  </div>
</div>