<!--article image-->
<img src="{{ include.publication.image_path }}" alt="" class="img-responsive" style="margin: auto">
{% if include.publication.image_caption %}<i>{{ include.publication.image_caption }}</i>{% endif %}

<!--article title-->
<h1>{{ include.publication.title }}</h1>
<h1 class="spacer">___</h1>

<!--joined_on date-->
<p class="article-date">Published {{ include.publication.publication_year }} in {{ include.publication.journal }}</p>

<!--article authors-->
<p class="article-tags">{{ include.publication.authors }}</p>

<!--article content-->
{{ include.publication.content }}

<!--article tags-->
<p class="article-tags">{{ include.publication.tags | array_to_sentence_string }}</p>


<!--share-->
<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <h3 class="share">
      Read:
      {% if include.publication.research_gate_url %}
        <a href="{{ include.publication.research_gate_url }}"><img class="social" src="/img/icon/icon-research-gate.png" alt="Research Gate"></a>
      {% endif %}
      {% if include.publication.journal_url %}
        <a href="{{ include.publication.journal_url }}"><img class="social" src="/img/icon/icon-web.png" alt="Journal"></a>
      {% endif %}
    </h3>
  </div>
</div>