<h1 class="visible-xs section-header" id="posts-list">Publications</h1>
<h1 class="visible-xs text-center spacer">___</h1>

<!--work choice-->
<div class="item-choice">
  <a href="#" class="filter" data-filter="all">All</a>
  <a href="#" class="filter" data-filter="graduate-work"> Graduate Work</a>
  <a href="#" class="filter" data-filter="reviews"> Reviews</a>
  <a href="#" class="filter" data-filter="collaborations"> Collaborations</a><br />
  <a href="#" class="filter" data-filter="ips"> IPS</a>
  <a href="#" class="filter" data-filter="cancer"> Cancer</a>
  <a href="#" class="filter" data-filter="melanoma"> Melanoma</a>
  <a href="#" class="filter" data-filter="microrna"> MicroRNA</a>
  <hr>
</div>

<section class="row" id="Grid">

    {% assign ordered_publications = site.publications | sort: 'publication_year' %}
    {% for publication in ordered_publications reversed %}

      <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6 mix {% for tag in publication.tags %}{{ tag | slugify }} {% endfor %}">
          <div class="panel panel-default item">
              <div class="panel-heading">
                  <a href="{{ publication.url }}">

                      <!--work image-->
                      <img class="img-responsive item-img" src="{{ publication.thumbnail_path }}" alt="{{ publication.title }}">

                  </a>
              </div>
              <div class="panel-body">

                  <!--work title-->
                  <a href="{{ publication.url }}"><h4 class="item-title">{{ publication.title }}</h4></a>

                  <!--work category-->
                  <p class="item-category">{{ publication.journal }}</p>

                  <!--work short description-->
                  <p class="item-description">{{ publication.authors | truncate: 140 }}</p>

                <!--
                  <hr>
                  <p class="item-tags">
                    {% for tag in publication.tags %}
                      <a href="#" data-filter="{{ tag | slugify }}">{{ tag | slugify }}</a>{% unless forloop.last %} |{% endunless %}
                    {% endfor %}
                  </p>
                -->

              </div>
          </div>
      </div>

    {% endfor %}

</section>
